
html{
	position: relative;
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size:100%;
}
body{
	font-size:100%;
	font-family: 'Ubuntu', sans-serif;
	background:#fff;
	margin: 0 0 30px; /* bottom = footer height */
}

.header{
	border-bottom:5px solid #006EFF;
	background: #005A90;
	color: #FFFFFF;
	padding:1em 0;
	position:relative;
}
.logo{
	position:absolute;
	top:0;
	left:10%;
}
.navigation{
	width:75%;
	float:right;
}
ul.navig{
	padding:0;
	width: 100%;
	float: left;
	margin-top: 10px;
}
ul.navig li{
	display: inline-block;
	margin:0 10px;
}
ul.navig li a{
	text-transform:uppercase;
	font-size:1em;
	color:#fff;
	font-weight:700;
}
ul.navig li a:hover{
	color:#FFFFFF;
}

ul.navig li a.active{
	color:#FFFFFF;
}

ul.navig li a.active::after{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

ul.navig li a.deconnexion {
	color: darkred;
}

ul.navig li a.deconnexion::hover {
	color: darkred;
}

ul.navig li a.info {
	color: darkgreen;
}

.banner{
	background: url(../images/banner.jpg)no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	min-height:400px;
}
@media(max-width:1440px){
	.banner{
		min-height:100;	
	}
}
.banner-bot{
	padding:4em 0;
}

#main{
	text-align:center;
}
.banner-bot h2{
	font-size:4em;
	font-weight:700;
	color:#000;
	margin:0em 0 0.5em 0;
	text-align:center;
}
.banner-bot p{
	font-size:1.1em;
	font-weight:500;
	color:#000;
	line-height:1.8em;
	margin:0 0 0.5em;
	text-align:center;
}
/*.banner-bot p:nth-of-type(2){
	font-weight:100;
	font-size:0.875em;
	margin-bottom:2em;
}*/
.banner-bot a{
	font-size:1em;
	text-transform:uppercase;
	font-weight:700;
	color:#000;
	text-align:center;
}
.banner-bot nav>a{
		text-align:center;
}
nav a , ul.navig a{
	position: relative;
	display: inline-block;
	margin: 0px 0px 10px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus, ul.navig a:hover, ul.navig a:focus {
	outline: none;
}
.cl-effect-3 a {
	padding: 8px 0;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #FFFFFF;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.footer{
	text-align:center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
	border-top:5px solid #006EFF;
    background-color: #005A90;
}
ul.social{
	padding:0;
	margin:1em 0 0.5em 0;
}
ul.social li{
	display:inline-block;
	margin:0 5px;
}
ul.social li i{
	width:70px;
	height:70px;
	background:url(../images/social-icons.png)no-repeat;
	display:inline-block;
	cursor:pointer;
}
ul.social li i:hover{
	opacity:0.5;
}
ul.social li i.fa{
	background-position:0px 0px;
}
ul.social li i.fb{
	background-position:-70px 0px;
}
ul.social li i.fc{
	background-position:-142px 0px;
}
.footer h4 {
	font-size:1.25em;
	color: #fff;
	font-weight:100;
}
.footer h4 {
	color:#fff;
}

/*-- Media Queries Starts Here --*/
@media(max-width:1024px){
	.logo a img {
		width: 65%;
	}
	.navigation {
		width: 76%;
	}
	.header {
		padding: 2em 0 1em;
	}
	ul.navig li a {
		font-size: 0.875em;
	}
	ul.navig {
		margin-top: 0px;
	}
	.banner {
		min-height: 369px;
	}
}
@media(max-width:768px){
	span.menu{
		width:32px;
		height:32px;
		background:url(../images/nav.png)no-repeat;
		display: inline-block;
		float:right;
		cursor: pointer;
	}
	.navigation{
		width:100%;
		display: none;
		text-align:center;
		background:#fff;
		padding:0.5em 0;
		margin-top:10px;
	}
	ul.navig{
		float:none;
		width:100%;
	}
	ul.navig li{
		display:block;
	}
	ul.navig li a{
		color:#000;
		display: block;
	}
	.header {
		padding: 1em 0 1em;
	}
	.banner {
		min-height: 341px;
	}
	.banner-bot h2 {
		font-size: 3em;
	}
	.banner-bot {
		padding: 2em 0;
	}
	.banner-bot p {
		font-size: 0.875em;
	}
	.banner-bot a {
		font-size: 1.5em;
		padding: 4px 0;
	}
}

@media(max-width:480px){
	.logo a img {
		width: 37%;
	}
	.header {
		padding: 0.5em 0;
	}
	.banner {
		min-height: 224px;
	}
	.banner-bot h2 {
		font-size: 2em;
	}
	.banner-bot p {
		font-size: 0.85em;
		height: 50px;
		overflow: hidden;
	}
	.banner-bot a {
		font-size: 1.2em;
		padding: 4px 0;
	}
	.banner-bot p:nth-of-type(2) {
		font-size: 0.85em;
		margin-bottom: 0.5em;
	}
	ul.social li i {
		width: 32px;
		height: 32px;
		background-size: 300%;
	}
	ul.social li i.fb {
		background-position: -32px 0px;
	}
	ul.social li i.fc {
		background-position: -65px 0px;
	}
	.footer {
		padding: 0em 0 1em;
	}
	.logo{
		width: 70%;
	}

}
@media(max-width:320px){
	.logo a img {
		width: 44%;
	}
	.logo {
		left: 6%;
	}
	.banner {
		min-height: 160px;
	}
	.banner-bot h2 {
		font-size: 1.5em;
	}
}

/*-- Media Queries Ends Here --*/


/*-- Infos --*/
.infos{
	border-radius: 3px;
    border: 1px solid #ccc;
	margin: 2px 5px 12px 5px;
	padding: 3px;
}

.infos p{
	font-style: italic;
	font-size: 16px;
}

/*-- Formulaire --*/
.custom_form {
    width: auto;
    height: 100%;
    margin: 50px auto 50px auto;
    padding: 20px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;  
    background: rgba(0, 15, 245, 0.1);
}

.custom_form h1 {
    position: relative;
    font: bold 1.5em 'Ubuntu', sans-serif;;
    color: #000000;
    text-align: center;
    margin: 0 0 20px;
}
::-webkit-input-placeholder {
   color: #bbb;
}

:-moz-placeholder {
   color: #bbb;
}                       

.placeholder{
    color: #bbb; /* polyfill */
}       

.custom_form input{
    margin: 5px;
    padding: 15px;
    width: 100%;
    *width: 518px; /* IE7 and below */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.custom_form input:focus{
        outline: 0;
        border-color: #aaa;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
}       

.custom_form button{
    margin: 20px 0 20px 0;
    padding: 15px 8px;          
    width: 100%;
    cursor: pointer;
    border: 2px solid #006EFF;
    overflow: visible;
    display: inline-block;
    color: #fff;
    font: bold 1.4em arial, helvetica;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);         
    background-color: #005A90;
    background-image: linear-gradient(top, rgba(0, 100, 255, .5), rgba(0, 100, 255, 0)); 
    transition: background-color .2s ease-out;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(255, 255, 255, .3),
                0 1px 0 rgba(0, 100, 255, .5) inset;                               
}

.custom_form button:hover{
    background-color: #006EFF;
        border-color: #005A90;
}

.custom_form button:active{
    position: relative;
    top: 3px;
    text-shadow: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
}
.custom_form a {
	margin: 2px 5px 2px 5px;
}

/*-- mail --*/
.mail-body > p {
	font-size:1.1em;
	font-weight:500;
	color:#000;
	line-height:1.8em;
	margin:0 0 0.5em;
	text-align:left;
}
/*-- mail --*/
.mail-body > button {
	float: right;
}

.mail-body {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	text-align:left;
}

.mail {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
	text-align:center;
}



/*-- tableaux --*/
tr.CREATE, td.END {
	background: lightgreen;
	color:darkgreen;
}

tr.SELECT {
	background: gold;
	color: black;
}

tr.UPDATE, td.OPEN {
	background: lightblue;
	color:darkblue;
}

td.match {
	color:darkgreen;
}

td.dismatch {
	color:darkred;
}

tr.RELANCE, td.RELANCE {
	background: salmon;
	color: darkred;
}

tr.END {
	background: darkgray;
	color: black;
}

strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table {
	font-size: 0.75em;
	background: #dedede;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	line-height: 24px;
	margin: 3%;
	text-align: left;
	width: 95%;
}

th {
	background: linear-gradient(#555, #777);
        background-color: lightslategrey;
	border-left: 1px solid #222;
	border-right: 1px solid #777;
	border-top: 1px solid #222;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
	font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

th>a>label {
	text-align: center;
}

td {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

.hover_visibility:hover {
	background-color: #abc;
}

select, textarea {
	min-width: 200px;
	width: 100%;
	height: 100%;
}