{% extends 'layout.twig' %}

{% block content %}
	<div id="main" class="banner-bot">
		<div class="container">
			<h1>{{ title }}</h1>
		
			{% if (filter == 'success') %}
				<div class="alert alert-success" role="alert">
			{% elseif (filter == 'fail') %}
				<div class="alert alert-danger" role="alert">
			{% else %}
				<div class="alert alert-info" role="alert">
			{% endif %}	
			
			<p>{{ message }}<br/><a href="{{ url }}">Continuer</a></p>
			</div>
		</div>
	</div>
{% endblock %}