{% extends 'layout.twig' %}

{% block content %}
	<div id="main" class="banner-bot">
		<div class="container">

			<form class="custom_form" method="{{method}}" action="{{action}}">
				<h1>{{title}}</h1>
				<input type="hidden" value={{token}} name="token">
				
				{% if (data.consignes == '1') %}
					<div class="alert alert-danger" role="alert">
						<h4>* Obligatoire</h4>
					</div>
					<div class="alert alert-info" role="alert">
						<h4>** Facultatif</h4>
					</div>
				{% endif %}

				{% if (filter == 'postRegister') %}
					<input type="email" placeholder="Email" name="email" required="">
					<input type="text" placeholder="Pseudo" name="nickname" required="">
					<input type="password" name="password" placeholder="Mot de passe" required="">
					<input type="password" name="password2" placeholder="Confirmez le mot de passe" required="">
					<button type="submit">S'inscrire</button>

				{% elseif (filter == 'postNewPassword') %}
					<input type="password" name="oldpassword" placeholder="Mot de passe actuel" required="">
					<input type="password" name="password" placeholder="Nouveau mot de passe" required="">
					<input type="password" name="password2" placeholder="Confirmez le nouveau mot de passe" required="">
					<button type="submit">Remplacer</button>

				{% elseif (filter == 'postLogin') %}
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="password" placeholder="Mot de passe" required="">
					<button type="submit">Se connecter</button>
					<a href="{{data.urls.forgot_password}}">mot de passe oublié?</a>

				{% elseif (filter == 'postForgotPassword') %}
					<div class="alert alert-info" role="alert">
						<p>La procédure à suivre vous sera envoyé à l'adresse e-mail</p>
					</div>
					<input type="email" name="email" placeholder="Email" required="">
					<button type="submit">Changer de mot de passe</button>

				{% elseif (filter == 'postValidationPassword') %}
					<div class="alert alert-info" role="alert">
						<p>Changer votre mot de passe avec le code de validation</p>
					</div>
					<input type="email" name="email" placeholder="Email" required="" value={{ data.email }}>
					<input type="text" name="code_validation" placeholder="Code de validation" required=""  value={{ data.code_validation }}>
					<input type="password" name="password" placeholder="Nouveau mot de passe" required="">
					<input type="password" name="password2" placeholder="Confirmez le nouveau mot de passe" required="">
					<button type="submit">Changer mon mot de passe</button>

				{% elseif (filter == 'postAddDossier') %}
					<input type="text" placeholder="Entrez un PCE*" name="pce1" required="">
					<input type="text" placeholder="Entrez un PDL**" name="pdl1">
					<input type="text" placeholder="Entrez un second PCE*" name="pce2" required="">
					<input type="text" placeholder="Entrez un second PDL**" name="pdl2">
					<button type="submit"> Créer </button>

				{% elseif (filter == 'postUpdateDossier') %}
					<a href="{{ data.url }}">Retour</a>
					<input type='hidden' value='{{data.dossier_id}}' name='id'>
					{% for Pdl in data.pdls %}
						<input type='hidden' value='{{ Pdl.code }}' name='pce{{ Pdl.array_index + 1 }}'>
						<table>
							<thead>
								<tr>
									<th>PDL/PCE</th>
									<th colspan='2'>{{ Pdl.code }}</th>
								</tr>
								<tr>
									<th>Données</th>
									<th>Etat actuel</th>
									<th>Etat attendu</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Nom du client</td>
									<td>{{ Pdl.nom_client }}</td>
									<td><input type="text" placeholder="Entrez le nom du client" name="nom_client{{ Pdl.array_index + 1 }}" value="{{ Pdl.status.nom_client }}" required=""></td>
								</tr>
								<tr>
									<td>Actif</td>
									<td>{% if (Pdl.actif) %} Oui {% else %} Non {% endif %}</td>
									<td>
										<select name="actif{{ Pdl.array_index + 1 }}">
											<option value='1' {% if (Pdl.status.actif) %} selected {% endif %}>Oui</option>
											<option value='0' {% if (Pdl.status.actif == false) %}  selected {% endif %}>Non</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					{% endfor %}
					<button type="submit"> Modifier </button>

					{% elseif (filter == 'postUpdateUser') %}
					<a href="{{ data.url }}">Retour</a>
					<input type='hidden' value='{{ data.user.id }}' name='id'>
					<table>
						<thead>
							<tr>
								<th>Email</th>
								<th>Rang</th>
								<th>En activité</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ data.user.email }}</td>
								<td>
									<select name="rank">
										{% for Rank in data.ranks %}
											<option value='{{ Rank.id }}' {% if (data.user.rank.id == Rank.id) %} selected {% endif %}>{{ Rank.name }}</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<select name="actif">
										<option value='1' {% if (data.user.actif) %} selected {% endif %}>Oui</option>
										<option value='0' {% if (data.user.actif == false) %}  selected {% endif %}>Non</option>
									</select>
								</td>
							</tr>
						</tbody>
					</table>

					<button type="submit"> Modifier </button>

				{% elseif (filter == 'postMailsDossier') %}
					<input type='hidden' value='{{data.dossier_id}}' name='id'>
					<h4><a href="{{data.url}}">Retourner sur le dossier</a></h4>
					<table>
						<thead>
							<tr>
								<th>Choisir le type de mail à générer</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
                                                                    {% include 'select_type_inversion.twig' %}
								</td>
							</tr>
						</tbody>
					</table>
					<button type="submit"> Générer le mail </button>

				{% elseif (filter == 'postFicheDossier') %}
				<h4><a href="{{ data.url }}">Retourner sur le dossier</a></h4>
				<table>
					<thead>
						<tr>
							<th>Choisir le type de fiche à générer</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
                                                                {% include 'select_type_inversion.twig' %}
							</td>
						</tr>
					</tbody>
				</table>
				<table>
					<thead>
						<tr>
							<th>Mode de détection de l'inversion de PCE**</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<textarea name="mode_detection" required></textarea>
							</td>
						</tr>
					</tbody>
				</table>
				<table>
					<thead>
						<tr>
							<th colspan='3'></th>
							<th colspan='3'>SITUATION ACTUELLE**</th>
							<th colspan='3'>SITUATION CIBLE**</th>
						</tr>
						<tr>
							<th></th>
							<th>N° PCE</th>
							<th>ADRESSE*</th>
							<th>NOM DU CLIENT</th>
							<th>ETAT PCE</th>
							<th>MAT CPT</th>
							<th>NOM DU CLIENT</th>
							<th>ETAT PCE</th>
							<th>MAT CPT</th>
						</tr>
					</thead>
					<tbody>
					{% for PCE in data.PCEs %}
						<tr>
							<td>PCE{{ PCE.array_index + 1 }}</td>
							<td>{{ PCE.code }}</td>
							<td><textarea name='adresse{{ PCE.array_index + 1 }}'>{{ PCE.adresse_complete }}</textarea></td>
							<td>{{ PCE.nom_client }}</td>
							<td>{% if (PCE.actif == 1) %}Actif{% else %}Résilié{% endif %}</td>
							<td>{{ PCE.matricule_compteur }}</td>
							<td>{{ PCE.status.nom_client }}</td>
							<td>{% if (PCE.status.actif == 1) %}Actif{% else %}Résilié{% endif %}</td>
							<td>{{ PCE.matricule_compteur }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<table>
					<thead>
						<tr>
							<th>Commentaire**</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<textarea name="commentaire" required></textarea>
							</td>
						</tr>
					</tbody>
				</table>

				<p>* Pour l'adresse inscrire un maximum d'info sur le complément d'adresse: n° APPT, étage...</p>
				<p>** Champ Obligatoire</p>
				<button type="submit"> Générer la fiche </button>

				{% elseif (filter == 'postSearchDossier') %}
					<input type="text" placeholder="Entrez l'id du dossier" name="id" required="">
					<button type="submit"> Rechercher </button>

				{% endif %}
			</form>
		</div>
	</div>


{% endblock %}