{% extends 'layout.twig' %}

{% block content %}

<div id="main" class="banner-bot">
    <div class="container">
      <h2>{{title}}</h2>
      <p>Mettre le texte d'acceuil de l'application</p>
    </div>
  </div>
{% endblock %}