<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Draw_it</title>
	<link href="{{root}}/public/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="{{root}}/public/css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="{{root}}/public/js/jquery-1.11.0.min.js"></script>
</head>

<body>

	<div class="header">
		{% block menu %}
			{% include 'menu.twig' %}
		{% endblock %}
	</div>
	<div class="banner"></div>
		
	{% block content %}
	{% endblock %}

	<div class="footer">
		<div class="container">
			<h4>Footer</h4>
			<!-- <ul class="social">
				<li onclick="location.href='http://facebook.com';"><i class="fa"></i></li>
				<li onclick="location.href='http://twitter.com';"><i class="fb"></i></li>
			</ul> -->
		</div>
	</div>

	<script src="{{root}}/public/js/custom_event.js"></script>
	<script src="{{root}}/public/js/client.js"></script>
</body>
</html>