{% extends 'layout.twig' %}

{% block content %}
	<div id="main" class="banner-bot">
		<div class="container">
			<div class="custom_form">
				<h1>{{title}}</h1>
				{% for url in data.urls %}
					<a href="{{ url.link }}">{{ url.text }}</a>
				{% endfor %}
				<table>
					<thead>
						<tr>
							<th>Email</th>
							<th>Rang</th>
							<th>Lien</th>
							<th>Etat</th>
						</tr>
					</thead>
					<tbody>
						{% if (data.nb_lignes > 0) %}
							{% for User in data.users %}
								<tr>
									<td>{{ User.data.email }}</td>
									<td>{{ User.data.rank.name }}</td>
									<td><a href="{{ User.url.link }}">{{ User.url.text }}</a></td>
									<td class='{{ User.etat.class }}'>{{ User.etat.text }}</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td colspan='3'><p>Aucune information disponible</p></td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}