{% import 'menu_item.twig' as macro %}

{% block menu %}
	<div class="container">
		<div class="logo">
			<a href="{{root}}"><img src="{{root}}/public/images/logo.png" alt="logo"></a>
		</div>

		<span class="menu"></span>
		<div class="navigation">
			<ul class="navig cl-effect-3" >
				{% for it in menu %}
					{{ macro.menu_item(it)}}
				{% endfor %}
			</ul>
			<script>
				$( "span.menu" ).click(function() {
				  $( ".navigation" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
		</div>
		
	</div>
{% endblock %}