{% macro dossier_item(Pdl, actif, nom_client, match) %}
	<td>{{ Pdl.adresse.num_rue }}</td>
	<td>{{ Pdl.adresse.nom_rue }}</td>
	<td>{{ Pdl.adresse.commune }}</td>
	<td>{{ Pdl.adresse.complement }}</td>
	<td>{{ Pdl.energie.libelle }}</td>
	<td class="{% if (Pdl.match.actif == 0) %}dis{% endif %}match"><b>{% if (actif == 1) %} oui {% else %} non {% endif %}</b></td>
	<td class="{% if (Pdl.match.nom_client == 0) %}dis{% endif %}match"><b>{{ nom_client }}</b></td>
	<td>{{ Pdl.matricule_compteur }}</td>
	<td>{{ Pdl.rep132 }}</td>
	<td>{{ Pdl.loe }}</td>
	<td>{{ Pdl.code }}</td>
	<td>{{ Pdl.ref }}</td>
{% endmacro %}