<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
		<link href="/css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/client.js"></script>
		<script src="/js/jquery-1.11.0.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div id="authentication">
			<input type='hidden' id='user_id' value='{{ user_id }}'>
			<input type='hidden' id='token' value='{{ token }}'>
		</div>
		<div class="header">
			<div class="container">
				<span class="menu"></span>
				<div class="navigation">
				</div>
			</div>
		</div>
		<div class="banner-bot">
			<div id="drawing" class="container">
			</div>
			<div id="my_game_status" class="container">
			</div>
			<div id="my_game_name" class="container">
			</div>
			<div id="list_games" class="container">
			</div>
			<div id="list_players" class="container">
			</div>
			<div id="list_users" class="container">
			</div>
			<div id="user_controls" class="container">
				<div id="secret_word" class="container">
				</div>
				<button id="start_game">Start</button>
				<button id="pause_game">Pause</button>
				<button id="stop_game">Stop</button>
				<input type="text" id="round_time"></input>
				<select id="is_private">
					<option value='private'>private</option>
					<option value='public' selected>public</option>
				</select>
				<button id="createGame">create</button>
				<div id="messages" class="container">
				</div>
				<button id="suggest">Suggest</button>
				<button id="sendMessage">Send</button>
				<input type="text" id="word"></input>
			</div>
			
		</div>
	</body>
</html>